*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif
}
body{
    background: violet;
}
/*takes the item to d center*/
.start_btn,
.info_box,
.quiz_box,
.result_box{   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}
/*displays the item after buttons are clicked(as programmed in d JS)*/
.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult{
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}
.start_btn button{
    font-size: 5vmin;
    font-weight: 500;
    color: violet;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: whitesmoke;
}

.info_box{
    width: 70%;
    background: #fff;
    border-radius: 7px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.info_box .info_title{
    height: 60px;
    width: 100%;
    border-bottom: 2px solid burlywood;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 550;
}
.info_box .info_list{
    padding: 15px 35px;
}
.info_box .info_list .info{
    margin: 5px 0;
}

.info_box .info_list .info span{
    font-weight: 600;
    color: chocolate;
}
.info_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 2px solid burlywood;
}

.info_box button,.result_box button{
    margin: 0 5px;
    height: 30px;
    width: 80px;
    border: 1px solid chocolate;
    background: chocolate;
    border-radius: 5px;
    color: whitesmoke;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}
.buttons .quit{
    color: chocolate;
    background: white;
    cursor: pointer;
}
.buttons .quit:hover{
    background: rgb(241, 178, 132);
    color: whitesmoke;
}
.buttons .restart:hover{
    background: #f76904;
}
/*Quiz box*/
.quiz_box{
    width: 80%;
    background: #fff;
    opacity: 0;
    border-radius: 7px;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}
.quiz_box header{
    height: 70px;
    padding: 0 10px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius:  5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.2);
}
.quiz_box header .title{
    font-size: 3vmin;
    font-weight: 600;
}
.quiz_box header .timer{
    font-size: 3vmin;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(229, 194, 240);
    border: 1px solid rgb(226, 184, 228);
    width: 150px;
    height: 40px;
    border-radius: 5px;
}
.quiz_box header .timer .time_text{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}
.quiz_box header .timer .time_sec{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 50px;
    text-align: center;
    line-height: 30px;
    background: rgb(24, 23, 23);
    color: #fff;
    border-radius: 4px;
    user-select: none;
}
.quiz_box section{
    padding: 20px 15px;
    
}
.quiz_box section .que_text{
    font-size: 25px;
    font-weight: 550;
}
.quiz_box section .option_list{
    padding: 20px 0;
    display: block;
}
section .option_list .option{
    background: aliceblue;
    border: 1px solid rgb(226, 184, 228);
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.option_list .option.ticked{
    color: white;
    background: rgb(82, 48, 114);
    border-color: white;
}
.option_list .option.disabled{
    pointer-events:none;
}
.option_list .option:hover{
    color: rgb(54, 54, 173);
    background: rgb(189, 171, 187);
}
/* quiz footer*/
.quiz_box footer{
    height: 60px;
    width: 100%;
    display: flex;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
}
.quiz_box footer .total_que span {
    display: flex;
    user-select: none;
}
footer .total_que span p{
    font-weight: 500;
    padding: 0 5px;
}
.total_que span p:first-child{
    padding-left: 0px;
}
footer .next_btn{
    padding: 10px 10px;
    color: #fff;
    background: rgb(107, 67, 202);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 5px 50px 0px rgb(24, 23, 23);
    display: none; /*hides d next button*/
}
footer .next_btn:hover{
    background: rgb(19, 8, 80);
}
/*Result box*/
.result_box{
    background: #fff;
    width: 80%;
    padding: 25px 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}
.result_box .score_text span{
    display: flex;
    padding: 20px;
    max-width: fit-content;
}
.score_text span p{
    font-weight: 600;
    padding: 0 4px;
}
.result_box .buttons{
    display: flex;
}
.result_box .buttons button{
    width: 80px;
    height: 40px;
}
